<footer>
    <div class="container-footer">
        <div class="container-img">
            <img src="assets/img/logo_site.png" />
        </div>
        <div class="content">
            <p class="content__titulo">Mercearia Schons</p>
            <p class="content__endereco">Rua Coronel Agra, 2514 - Cidade Alta - Venâncio Aires/RS</p>
            <p class="content__telefone">(51) 3741-2663 / (51) 98030-2443</p>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 - Mercearia Schons - Todos os direitos reservados | Feito por <a href="https://lucasgschons.dev.br">Lucas Schons</a></p>
    </div>
</footer>