.head-page {
    background: url(../../../assets/img/banner_geral.png) 50% no-repeat;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: 150px;
}

.head-page .container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-page h1 {
    color: var(--cinza);
    font-size: 3rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 58vh;

    h2 {
        font-size: 1.8em;
        margin-bottom: 35px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 40px 60px;

    .contato {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;

        .icone span {
            font-size: 42px;
        }

        &-endereco {
            display: flex;
            align-items: center;

            .texto {
                padding-left: 10px;

                p {
                    font-size: 18px;
                }

                span {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }

        &-email {
            display: flex;
            align-items: center;

            .texto {
                padding-left: 10px;

                p {
                    font-size: 18px;
                }

                span {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }

        &-telefone {
            display: flex;
            align-items: center;

            .texto {
                padding-left: 10px;

                p {
                    font-size: 18px;
                }

                span {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
    }
}

@media (max-width: 858px) {
    .head-page {
        height: 160px;

        .container {
            padding: 60px;
        }

        h1 {
            font-size: 1.8rem;
        }
    }

    .container h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .head-page {
        height: 120px;

        .container {
            padding: 50px;
        }

        h1 {
            font-size: 1.6rem;
        }
    }
}