.head-page {
    background: rgb(206, 206, 206) 0% 0% no-repeat padding-box;
    height: 150px;
    padding-bottom: 40px;
    margin: 60px auto 40px auto;
    padding: 0 5%;
}

.head-page .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
}

.head-page h1 {
    color: var(--cinza);
    font-size: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;

    max-width: 90%;
    margin: 0 auto;
}

.card-list-encomenda {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
   
    gap: 20px;

    padding-top: 50px;
    padding-bottom: 50px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.card-list-encomenda::-webkit-scrollbar{
    width: 0;
}

.card-list-encomenda li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: 1px solid #d6d6d6;
    padding: 5px;
    border-radius: 4px;
    width: 300px;
}

.card-list-encomenda li .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    .title {
        font-size: 1.5rem;
        font-weight: 400;

    }

    span {
        font-size: 1rem;
        font-weight: 400;
    }

    .ingredientes {
        min-height: 90px;
    }

    .valor {
        display: flex;
        justify-content: flex-end;
        font-size: 1.8rem;
        font-weight: 500;
        align-items: center;

        .cifrao {
            display: flex;
            padding-right: 6px;
            font-size: 1.4rem;

        }
    }
}

.card-list-encomenda li .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px solid #8d0101;
    border-radius: 30px;
    width: 80%;
    height: 50px;

    &:hover {
        cursor: pointer;
    }

    .icon {
        display: flex;
        font-size: 2rem;
        font-weight: 300;
        padding: 0 8px;
        user-select:none
    }

    .contador {
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        user-select:none
    }
}

.card-list-encomenda li .button_add {
    display: flex;
    align-items: center;
    background: none;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px solid #8d0101;
    border-radius: 30px;
    width: 80%;
    height: 50px;

    .text {
        font-size: 1rem;
        font-weight: 600;
        color: #8d0101;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }
}

.card-list-encomenda li img {
    width: 100%;
    display: flex;
    background-color: #f6f7f2;
}

.prev{
    position: absolute;
    left: 0;
    top: 50%;
}

.next{
    position: absolute;
    right: 0;
}

.card-list-produto {
    column-count: 3;
    column-gap: 8px;
    margin: 25px;

    li {
        margin: 0;
        float: left;
        position: relative;
        overflow: hidden;
        border: 1px solid #e2e2e2;
        padding: 5px;
        border-radius: 4px;
        margin-bottom: 10px;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 100%;
            display: flex;
            border-radius: 4px;
        }
    }
}

.container-legenda {
    background-color: #f6f6f6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-top: 5px;

    span {
        font-size: 1.2rem;
        font-weight: 600;
    }

    &:hover {
        background-color: #e2e2e2;
    }
}

.container-legenda .legenda {
    margin-top: 3px;
    padding: 10px;
    display: flex;
    align-items: center;

    .no-underline {
        margin-left: 10px;
    }
}
.divider-legend{
    width: 80%;
    margin: 0 auto;
}
.divider {
    height: 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 80%;
    margin: 0 auto;
}

@media(max-width: 1024px) {
    .container-padaria {
        margin: 45px;
    }
}

@media (max-width: 858px) {
    .head-page {
        height: 160px;

        .container {
            padding: 60px;
        }

        h1 {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 768px) {
    .head-page {
        height: 120px;

        .container {
            padding: 50px;
        }

        h1 {
            font-size: 1.6rem;
        }
    }

    .container-padaria {
        column-count: 2;
        column-gap: 8px;
        margin: 25px;
    }
}

@media (max-width: 480px) {
    .container-padaria {
        column-count: 1;
        column-gap: 8px;
        margin: 20px;
    }
}