<section>
  <div class="head-page">
    <div class="container">
      <h1>Nossos Produtos</h1>
    </div>
  </div>
  <div>
    <ul *ngFor="let produtoEncomenda of produtosEncomenda | async; let i = index">
      <li>
        <a class="button_material"(click)="incrementa(produtoEncomenda.descricao)"><span class="material-symbols-outlined">add</span></a>
        <span class="teste">
          {{ produtoEncomenda.descricao }} - Quantidade: {{ getQuantidadeProduto(produtoEncomenda.descricao) || 0 }}
        </span>
        <a class="button_material" (click)="decrementa(produtoEncomenda.descricao)"><span class="material-symbols-outlined">remove</span></a>
      </li>
    </ul>
    <a routerLink="/order">Encomendar</a>
  </div>
  <div class="separador-section"></div>
  <div class="container-padaria">
    <ul *ngFor="let produto of produtos | async">
      <li>
        <a (click)="openDialog(produto)">
          <img src="{{ produto.imageUrl }}" />
          <div class="container-legenda">
            <div class="legenda">
              <span>{{produto.descricao}}</span>
              <span class="material-symbols-outlined no-underline">
                arrow_forward
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  
</section>