header {
    position: relative;
    height: 5rem;
}

header .container {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    align-items: center;
    background-color: var(--primary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
    height: 5rem;
    padding: 0 100px;
    font-size: 16px;

    .logo img {
        width: 200px;
    }

    .shopping {
        display: flex;
        font-weight: bold;
        font-size: 18px;
        align-items: center;
        &:hover {
            color: #8B0000;
            transition: 0.2s;
        }
    }

    .menu {
        display: flex;
        padding: 15px;
        span {
            font-weight: bold;
            font-size: 18px;
            font-family: sans-serif;
            padding: 10px;
            &:hover {
                color: #8B0000;
                transition: 0.2s;
            }
        }
        img {
            width: 20px;
            height: 20px;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.checkbtn {
    cursor: pointer;
    display: none;
    float: right;
}

#check {
    display: none;
}

.divider-check{
    display: none;
}

@media (max-width: 1380px) {
    header {
        height: 5rem;
    }
}

@media (max-width: 858px) {
    header {
        height: 4rem;
    }

    header .container {
        width: 100%;
        padding: 0 40px;
        justify-content: space-between;
        height: 4rem;
        .logo img {
            display: flex;
            width: 165px;
        }
        .icon{ 
            font-size: 28px;
            font-weight: 500;
        }
    }

    .checkbtn {
        display: flex;
    }

    .divider-check{
        display: flex;
    }

    ul {
        border-top: 1px solid black;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f8f8f2;
        top: 64px;
        left: -100%;
    }

    li{
        padding: 15px 0;
    }

    .menu {
        display: block;
        flex-direction: column;
        width: 100%;
        padding: 30px;
        &__item a {
            padding: 20px;
            color: white;
        }
        &__item .icon,
        .separador {
            display: none;
        }
    }

    ul li a {
        font-size: 20px;
    }

    a:hover a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}
