.header-container {
    display: flex;
    padding: 15px 100px;
    justify-content: space-between;
    border-bottom: 2px solid var(--grey-light);
    align-items: center;
    span {
        font-size: 1.2rem;
        font-weight: bold;
        vertical-align: bottom;
    }
    .voltar{
        font-size: 28px;
        padding-right: 5px;
        vertical-align: bottom;
    }
}

.container-order {
    max-width: 898px;
    margin: 0 auto;
}

.head {
    display: flex;
    border: 1px solid var(--grey-light);
    border-radius: 6px;
    margin: 20px 0; 
    padding: 15px;
    justify-content: space-between;
}

.head .title{
    display: flex;
    align-items: center;
    h1 {
        display: flex;
        font-size: 22px;
        align-items: center;
    }
    .shopping {
        display: flex;
        font-weight: bold;
        font-size: 22px;
        padding-right: 10px;
        align-items: center;
    }
}

.head .monitor{
    display: flex;
    align-items: center;
    span{
        color: var(--grey-dark);
        font-size: 18px;
    }
    .contador {
        padding-right: 5px;
    }
}

.content li {
    display: flex;
    border: 1px solid var(--grey-light);
    border-radius: 6px;
    margin: 20px 0; 
    padding: 15px;
    img {
        width: 80px;
    }
    span {
        font-size: 22px;
        font-weight: 600;
        padding: 0 10px;
    }

}




.button {
    padding: 10px;
    span{
        user-select: none;
    }

    &:hover {
        cursor: pointer;
    }

   
}

img {
    display: flex;
    width: 200px;
}