.banner {
    background: url(../../../assets/img/webp-640.png) 27% no-repeat;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.banner .inner-banner {
    padding: 3rem;
    background: url(../../../assets/img/background-inner.png);
    opacity: 0.9;
    -webkit-box-shadow: 10px 10px 0 0 rgb(44 44 44 / 20%);
            box-shadow: 10px 10px 0 0 rgb(44 44 44 / 20%);
    max-width: 600px;
    min-height: 290px;
    padding: 2.8125rem 2.375rem;
    border: 4px double var(--cinza);
    text-align: center;

    h2 {
        font-size: 3rem;
        color: var(--cinza);
        font-style: normal;
        font-family: serif;
        padding-bottom: 25px;
        font-weight: 700;
        line-height: 52px;
    }

    p {
        margin: 0 0 1.5rem;
        font-size: 1.1875rem;
        line-height: 1.8125rem;
        font-style: normal;
        font-family: "freight-text-pro", serif;
    }

    .button {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-shadow: 8px 8px 0 0 rgb(44 44 44 / 25%);
                box-shadow: 8px 8px 0 0 rgb(44 44 44 / 25%);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 230px;
        height: 45px;
        padding: 15px;
        border: 1px solid #a5684d;
        background: #fff;
        color: var(--text-botao);
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: .05625rem;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            border: 2px solid #a5684d;
            -webkit-box-shadow: 9px 9px 0 0 rgb(44 44 44 / 30%);
                    box-shadow: 9px 9px 0 0 rgb(44 44 44 / 30%);

        }
    }
}

.boas-vindas {
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    h1 {
        text-align: center;
        font-weight: 700;
        font-style: normal;
        font-family: serif;
        color: var(--cinza);
        font-size: 3rem;
        line-height: 3.75rem;
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 100px 80px;
        vertical-align: center;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .box {
        padding: 30px;
        width: 400px;
        border: 1px solid var(--cinza);
        -webkit-box-shadow: 5px 5px 0 0 rgb(44 44 44 / 25%);
                box-shadow: 5px 5px 0 0 rgb(44 44 44 / 25%);
        min-height: 200px;
        background-color: #f2f2f2;

        i {
            font-size: 50px;
            color: var(--cinza);
        }

        &:hover {
            border: 2px solid black;
            -webkit-box-shadow: 9px 9px 0 0 rgb(44 44 44 / 20%);
                    box-shadow: 9px 9px 0 0 rgb(44 44 44 / 20%);
        }

        &:nth-child(n+2):nth-child(-n+3) {
            margin-left: 20px;
        }

        h3 {
            font-size: 1.5em;
            padding: 10px;
            color: var(--cinza);
        }

        span {
            font-size: 1em;
            color: var(--cinza);
        }
    }
}

.separador-section {
    height: 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.lista-transmissao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 80px;

    .container-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            h3 {
                font-size: 2em;
                padding-bottom: 25px;
                color: var(--cinza);
            }

            p {
                font-size: 1.2em;
                color: var(--cinza);
                line-height: 2rem;
            }
        }
    }
    .container-botao {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 30px;
    }

    .botao-wpp {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #a5684d;
        background: #fff;
        -webkit-box-shadow: 8px 8px 0 0 rgb(44 44 44 / 25%);
                box-shadow: 8px 8px 0 0 rgb(44 44 44 / 25%);
        color: var(--text-botao);
        font-weight: 700;
        font-size: 1rem;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 245px;
        padding: 15px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            border: 2px solid #a5684d;
            -webkit-box-shadow: 9px 9px 0 0 rgb(44 44 44 / 30%);
                    box-shadow: 9px 9px 0 0 rgb(44 44 44 / 30%);
        }
    }
}

.container-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    img {
        width: 300px;
    }
}


@media (max-width: 1200px) {
    .banner .inner-banner {
        max-width: 60%;
    }
}

@media (max-width: 858px) {
    .banner .inner-banner {
        max-width: 75%;
    }

    .boas-vindas {
        h1 {
            font-size: 40px;
        }
    }

    .lista-transmissao {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

}

@media (max-width: 768px) {
    .banner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 515px;

        .inner-banner {
            padding: 35px;

            h2 {
                font-size: 2.50rem;
                line-height: 45px;
            }
        }
    }

    .boas-vindas {
        .container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 50px auto;
        }

        .box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 50%;
            margin-bottom: 20px;
            max-height: 100px;
            padding: 20px;
            &:nth-child(n+2):nth-child(-n+3) {
                margin-left: 0px;
            }
        }
    }

    .lista-transmissao {
        padding: 60px 45px;

        .container-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            max-width: 100%;
        }
        .container-botao {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    

        .container-img {
            display: none;
        }
    }
}

@media (max-width: 624px) {
    .boas-vindas .box {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .boas-vindas {
        .box {
            max-height: 200px;

            h3 {
                font-size: 1.2em;
            }

            span {
                font-size: 0.9em;
            }
        }
    }

    .banner {
        min-height: 500px;

        .inner-banner {
            padding: 35px 15px;

            h2 {
                font-size: 2rem;
                line-height: 40px;
                padding-bottom: 20px;
            }

            p {
                font-size: 1.1rem;
            }
        }
    }
}