<section class="banner">
    <div class="inner-banner">
        <h2>Tenha uma experiência gastronômica única!</h2>
        <p>
            Explore nossa variedade de produtos na padaria e
            faça sua encomenda em poucos minutos.
        </p>
        <a routerLink="/padaria" class="button">Quero Conferir</a>
    </div>
</section>
<section class="boas-vindas">
    <h1>Seja Bem-Vindo à Mercearia Schons!</h1>
    <div class="container">
        <a routerLink="/contato" class="box">
            <div class="box__oferta">
                <i class="fa-solid fa-phone"></i>
                <h3>Entre em Contato</h3>
                <span>Saiba como entrar em contato conosco
                </span>
            </div>
        </a>
        <a routerLink="/padaria" class="box">
            <div class="box__padaria">
                <i class="fa-solid fa-bread-slice"></i>
                <h3>Conheça a Padaria</h3>
                <span>Veja todas as delícias que temos na padaria</span>
            </div>
        </a>
        <a routerLink="/sobre" class="box">
            <div class="box__sobre">
                <i class="fa-solid fa-circle-info"></i>
                <h3>Sobre Nós</h3>
                <span>Conheça um pouco da nossa história</span>
            </div>
        </a>
    </div>
</section>
<div class="separador-section"></div>
<section class="lista-transmissao">
    <div class="container-info">
        <div class="text">
            <h3>Inscreva-se em nossa lista de transmissão</h3>
            <p>Receba via WhatsApp todas nossas ofertas do fim de semana!</p>
            <p>Basta clicar no botão abaixo e pedir para se inscrever</p>
        </div>
        <div class="container-botao">
            <a class="botao-wpp" href=" https://wa.me/5551980302443?text=Olá. Quero receber as ofertas por aqui!" >
                Enviar Mensagem
            </a>
        </div>
    </div>
    <div class="container-img">
        <img src="../assets/img/phone_whatsapp.png" />
    </div>
</section>