.head-page {
    background: url(../../../assets/img/cabecalho_bakery.png) 50% no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 150px;
}

.head-page .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.head-page h1 {
    color: var(--cinza);
    font-size: 3rem;
}

.container-encomenda {
    display: flex;
    max-width: 1419px;
    overflow: hidden;
    padding: 50px 60px;
    position: relative;
}

.container-encomenda-geral {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.card-list-encomenda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    overscroll-behavior-inline: contain;
    position: relative;
    width: 100%;
}

.card-list-encomenda::-webkit-scrollbar {
    width: 0;
}

.card-list-encomenda li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #d6d6d6;
    padding: 5px;
    border-radius: 4px;
    width: 300px;
    position: relative;

    margin-left: 20px;

}

.card-list-encomenda ul {
    &:last-child {
        margin-right: 20px;
    }
}

.card-list-encomenda li .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    .title {
        font-size: 1.5rem;
        font-weight: 400;
        min-height: 58px;
    }

    span {
        font-size: 1rem;
        font-weight: 400;
    }

    .ingredientes {
        min-height: 90px;
    }

    .valor {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        font-size: 1.8rem;
        font-weight: 500;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .cifrao {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-right: 6px;
            font-size: 1.4rem;
        }
    }
}

.card-list-encomenda li .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px solid #8d0101;
    border-radius: 30px;
    width: 90%;
    height: 50px;

    &:hover {
        cursor: pointer;
    }

    .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 2rem;
        font-weight: 300;
        padding: 0 8px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .contador {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.card-list-encomenda li .button_add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px solid #8d0101;
    border-radius: 30px;
    width: 90%;
    height: 50px;

    &:hover {
        cursor: pointer;
    }

    .text {
        font-size: 1rem;
        font-weight: 600;
        color: #8d0101;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }
}

.card-list-encomenda li img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f6f7f2;
    border-radius: 3px;
    width: 100%;
}

.button-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--cinza);
    background: transparent;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    span {
        font-size: 40px;
    }

    &:hover {
        cursor: pointer;
    }
}

.next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--cinza);
    background: transparent;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    span {
        font-size: 40px;
    }

    &:hover {
        cursor: pointer;
    }
}

.container-produto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.card-list-produto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    padding-top: 50px;

    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 400px;
    }

    li {
        margin: 0;
        float: left;
        position: relative;
        overflow: hidden;
        border: 1px solid #e2e2e2;
        padding: 5px;
        border-radius: 4px;
        margin-bottom: 10px;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-radius: 4px;
        }
    }
}

.container-legenda {
    background-color: #f6f6f6;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5px;

    span {
        font-size: 1.2rem;
        font-weight: 600;
    }

    &:hover {
        background-color: #e2e2e2;
    }
}

.container-legenda .legenda {
    margin-top: 3px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .no-underline {
        margin-left: 10px;
    }
}

.divider-legend {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;

    span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: "Cerebri Sans", Helvetica, sans-serif;
        padding-bottom: 10px;
    }
}

.divider {
    height: 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

.animate {
    -webkit-animation-name: animate-carousel;
    animation-name: animate-carousel;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@keyframes fly-to-cart {
    100% {
        left: var(--end-x);
        top: 18px;
        transform: scale(.2);
    }
}

.fly-to-cart {
    position: fixed;
    z-index: 1000;
    animation: fly-to-cart 1s ease-in-out forwards;
}

@-webkit-keyframes animate-carousel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animate-carousel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media(max-width: 1700px) {
    .container-encomenda {
        width: 1220px;
    }

    .card-list-encomenda li {
        width: 250px;
    }
}


@media(max-width: 1380px) {
    .container-encomenda {
        width: 949px;
    }

    .card-list-encomenda li {
        width: 250px;
        gap: 4px;
    }
}

@media(max-width: 1230px) {
    .card-list-encomenda li {
        width: 250px;
        gap: 4px;
    }

    .card-list-encomenda li .content {
        gap: 5px;
        padding: 5px;

        .title {
            font-size: 1.5rem;
        }

        span {
            font-size: 1rem;
            font-weight: 400;
        }

        .ingredientes {
            min-height: 85px;
        }

        .valor {
            font-size: 1.5rem;
            font-weight: 500;

            .cifrao {
                padding-right: 5px;
                font-size: 1.2rem;
            }
        }
    }

}

@media(max-width: 1050px) {
    .container-encomenda {
        width: 679px;
    }

    .prev {
        padding: 8px;

        span {
            font-size: 35px;
        }
    }

    .next {
        padding: 8px;

        span {
            font-size: 35px;
        }
    }
}

@media (max-width: 858px) {
    .container-encomenda {
        padding: 50px 0;
    }

    .head-page {
        h1 {
            font-size: 2rem;
        }
    }

    .prev {
        display: none;
    }

    .next {
        display: none;
    }

    .container-encomenda {
        width: 100%;
    }

    .card-list-encomenda {
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }
}

@media (max-width: 768px) {
    .head-page {
        height: 120px;
    }

    .container-produto {
        padding-bottom: 0;
    }

    .card-list-produto {
        padding: 50px 20px;
    }

}