<section>
  <div class="head-page">
    <div class="container">
      <h1>Padaria</h1>
    </div>
  </div>
  <div class="divider-legend"><span>Faça seu Pedido!</span></div>
  <div class="divider"></div>
  <div class="container-encomenda" id="containerEncomenda">
    <div class="card-list-encomenda">
      <ul class="item" *ngFor="let produtoEncomenda of produtosEncomenda | async; let i = index">
        <li>
          <img src="{{ produtoEncomenda.imageUrl }}">
          <div class="content">
            <span class="title">{{ produtoEncomenda.descricao }}</span>
            <span class="ingredientes">{{ produtoEncomenda.ingredientes }}</span>
            <span class="valor">
              <span class="cifrao"><i class="fa-solid fa-brazilian-real-sign"></i></span>{{ produtoEncomenda.valor |
              number:'1.2-2'}}
            </span>
          </div>
          <button (click)="orderService.newProduct(i, produtoEncomenda)"
            [ngStyle]="{'display': orderService.isSelect_buttonAdd[i] ? 'flex' : 'none'}" class="button_add"><span
              class="text">Adicionar</span></button>
          <div class="button" [ngStyle]="{'display': orderService.isSelect_button[i] ? 'flex' : 'none'}">
            <a class="button_material" (click)="orderService.decrementProduct(produtoEncomenda)"><span
                class="material-symbols-outlined icon">remove</span></a>
            <span class="contador">{{ getOrderQuantity(produtoEncomenda.descricao)}}</span>
            <a class="button_material" (click)="orderService.incrementProduct(produtoEncomenda)"><span
                class="material-symbols-outlined icon">add</span></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="button-area">
      <button type="button" class="prev" appPrev>
        <span class="material-symbols-outlined">
          chevron_left
          </span>
      </button>
      <button type="button" class="next" appNext>
        <span class="material-symbols-outlined">
          chevron_right
          </span>
      </button>
    </div>
    
  </div>
  <div class="divider-legend">
    <span>Nosso Cardápio</span>
  </div>
  <div class="divider"></div>
  <div class="container-produto">
    <div class="card-list-produto">
      <ul *ngFor="let produto of produtos | async">
        <li>
          <a (click)="produtoService.openDialog(produto)">
            <img src="{{ produto.imageUrl }}" />
            <div class="container-legenda">
              <div class="legenda">
                <span>{{produto.descricao}}</span>
                <span class="material-symbols-outlined no-underline">
                  arrow_forward
                </span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>