<header>
    <div class="container">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="check" [(ngModel)]="isMenuOpen">
        <div class="logo">
            <a href=""><img src="assets/img/logo_site.png" /></a>
        </div>
        <ul class="menu">
            <li><a (click)="closeMenu()" routerLink="/home"><span>Início</span></a></li>
            <li><a (click)="closeMenu()" routerLink="/padaria"><span>Padaria</span></a></li>
            <li><a (click)="closeMenu()" routerLink="/sobre"><span>Sobre</span></a></li>
            <li><a (click)="closeMenu()" routerLink="/contato"><span>Contato</span></a></li>
        </ul>
        <div class="shopping">
            <a routerLink="order" mat-raised-button [matBadge]="(obtemTotalContador() || undefined)">
                <span class="material-symbols-outlined">shopping_cart</span> 
            </a>
        </div>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="container-footer">
        <div class="container-img">
            <img src="assets/img/logo_site.png" />
        </div>
        <div class="content">
            <p class="content__titulo">Mercearia Schons</p>
            <p class="content__endereco">rua Coronel Agra, 2514 - Cidade Alta - Venâncio Aires/RS</p>
            <p class="content__telefone">(51) 3741-2663 / (51) 9 8030-2443</p>
            <p class="content__email">merceariaschons@gmail.com</p>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 - Mercearia Schons - Todos os direitos reservados</p>
    </div>

</footer>