.head-page {
    background: url(../../../assets/img/banner_geral.png) 50% no-repeat;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: 150px;
}

.head-page .container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-page h1 {
    color: var(--cinza);
    font-size: 3rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 78vh;
}

.sobre-content{
    margin: 0 40px 40px;
    justify-content: space-between;
    display: inline-flex;
    

    .sobre-img{
        width: calc(50% - 20px);
        img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
            width: 100%;
        }
    }
    .sobre-text{
        width: calc(50% - 20px);

        h2{
            text-align: center;
            color: var(--cinza);
            margin-bottom: 40px;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 858px){
    .head-page{
        height: 160px;
        h1{
            font-size: 1.8rem;
        }
    }
    .container{
        height: 125vh;
    }

    .sobre-content{
        flex-direction: column;
        
        .sobre-img{
            display: flex;
            justify-content: center;
            width: 80%;
        }

        .sobre-text{
            text-align: center;
            width: 100%;
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 768px){
    .head-page{
        height: 120px;

        .container{
            padding: 50px;
        }

        h1{
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 480px){
    .sobre-content{
        flex-direction: column;
        
        .sobre-img{
            display: flex;
            justify-content: center;
            width: 100%;
        }   
    }
    .container{
        height: 135vh;
    }
}
