.head-page {
    background: url(../../../assets/img/banner_geral.png) 50% no-repeat;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: 150px;
}

.head-page .container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-page h1 {
    color: var(--cinza);
    font-size: 3rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title h2 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--cinza);
    margin-bottom: 40px;

}

.sobre-content {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 80px;

    .sobre-img {
        width: calc(50% - 20px);

        img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
            width: 100%;
        }
    }

    .sobre-text {
        width: calc(50% - 20px);



        p {
            letter-spacing: 1px;
            line-height: 32px;
            font-size: 22px;
        }
    }
}

@media (max-width: 992px) {
    .head-page {
        height: 160px;

        h1 {
            font-size: 1.8rem;
        }
    }

    .sobre-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .sobre-img {
            width: 80%;
        }

        .sobre-text {
            margin-bottom: 50px;
            width: 100%;
        }

        .title h2 {
            font-size: 1.5rem;
        }

        .sobre-text p {
            font-size: 18px;

        }
    }
}

@media (max-width: 768px) {
    .head-page {
        height: 120px;

        .container {
            padding: 50px;
        }

        h1 {
            font-size: 1.6rem;
        }
    }

    .sobre-content .sobre-img {
        width: 100%;
    }
}