.section_dialog {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;

    .header-dialog {
        display: flex;
        justify-content: center;

        h1 {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .text {
        text-align: center;
    }

    .botao {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    button {
        padding: 25px 35px;
        font-size: 1rem;
        font-weight: 600;
    }

    .imagem {
        display: flex;
        justify-content: center;
    }

    img {
        display: flex;
        align-items: center;
        width: 100px;
    }
}

@media (max-width: 768px) {
    .section_dialog .header-dialog h1 {
        font-size: 1.2rem;
    }

    .section_dialog button {
        padding: 25px 20px;
    }

}